{% extends 'layouts/main.html' %}

{% block content %}
<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="mt-20 text-center text-secondary border-placeholder">
      <!--Add details about the payment here!-->
      <p>Thank you for your payment!</p>
      <p><strong>Amount Received:</strong> {{ amount }} {{ currency.upper() }}</p>
      <p><strong>Payment Status:</strong> {{ status | capitalize }}</p>
      <p><strong>Payment Intent ID: </strong><em>{{payment_intent_id}}</em></p>
    </div>
  </div>
</main>
{% endblock %}